<div class='row'>
  <section id='profile-info' class='col-md-3 bg-white dft-border'>
    <div id='profile-image'>
      <img src='<%= @profile.image_url %>'>
    </div>

    <div>
      <% if @profile.name %>
        <h3><%= @profile.name %></h3>
        <hr>
      <% end %>

      <% if @profile.description %>
        <strong>About me:</strong>
        <p><%= @profile.description %></p>
        <hr>
      <% end %>

      <% if @profile.location %>
        <p><strong>Lives in:</strong> <%= @profile.location %></p>
      <% end %>
    </div>
  </section>
</div>
