<div class="col-md-4 event-profile-info no-wrap">
  <%= link_to ['/users/', user_thumbnail.id, '/profile'].join, id: [user_thumbnail.id, '-profile'].join do %>
    <div class="profile-thumbnail" style="background-image: url(<%= user_thumbnail.profile.image_url %>)">
    </div>
    <small><%= user_thumbnail.profile.name %></small>
  <% end %>
</div>
