<div class="col-md-4 event-profile-info">
  <%= link_to ['/users/', user_thumbnail.id, '/profile'].join, id: [user_thumbnail.id, '-profile'].join do %>
    <div class="profile-thumbnail">
      <img src='<%= user_thumbnail.profile.image_url %>'>
    </div>
    <small><%= user_thumbnail.profile.name %></small>
  <% end %>
</div>
