<ul id="user-friend-requst-list", class="list-unstyled col-md-4 col-md-offset-2 bg-white dft-border dft-padding">
  <h2 class="h4">Your Friend Requests</h2>
  <%= render partial: "friend_request", collection: @friend_requested %>
</ul>
