@import 'colours';

#dropdownMenu1 {
  border: none;
  background-color: $header-green;
}

.delete-button {
  border: none;
  background-color: #FFF;
  font-weight: bold;

  &:hover {
    background-color: $light-grey;
  }
}
