@import 'colours';

#dropdownMenu1 {
  border: none;
  background-color: $header-green;
}

.comment-button {
  border: none;
  background-color: #FFF;
  font-weight: bold;

  &:hover {
    background-color: $light-grey;
  }
}

#new-tag-button {
  border-radius: 100%;
  padding: 0px;
  height: 20px;
  width: 20px;
  text-align: center;
}
