@import 'padding-settings';

#show-event {
  padding: $padding-dft;
}

#event-image-div {
  padding: 0 $padding-dft 0 0;
}

#event-image {
  position: relative;
  width: 100%;
  height: 30em;
  overflow: hidden;

  img {
    height: 30em;
  }
}
