@import 'padding-settings';

#show-event {
  padding: $padding-dft;
}

#event-image-div {
  padding: 0 $padding-dft 0 0;
}

.event-thumbnail {
  width: 6em;
  height: 6em;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin: auto;
}

.big-event-thumbnail {
  width: 15em;
  height: 15em;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin: auto;
}

.event-image {
  width: 100%;
  height: 30em;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin: auto;
}

.comment-hr {
  margin: 5px;
}

#tag-list {
  display: inline-block;
}

.comment-thumbnail {
  overflow: hidden;
  background-position: center center;

  img {
    width: 100%;
  }
}

.event-profile-info {
  text-align: center;
}

#friend-request-div {
  text-align: right;
}
