@import "colours";

#main-header {
  color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.alert {
  padding: 0px;
  margin: 0px;
}

#main-nav>ul>li {
  &:hover {
    color: $light-grey;
  }
}

.dropdown-menu {
  li {
    color: #333;
    &:hover {
      color: #333;
    }
  }
}


