@import 'margin-settings';

.m-t {
  margin-top: $margin-dft;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-v-0 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.m-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-b-0 {
  margin-bottom: 0px;
}
