#profile-info {
  padding: 10px;
}

.profile-thumbnail {
  width: 6em;
  height: 6em;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin:auto;
}

.big-profile-thumbnail {
  width: 100%;
  height: 25em;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin:auto;
}

.event-thumbnail {
  overflow: hidden;
  background-position: center center;

  img {
    width: 100%;
  }
}

.event-info {
  h4 {
    margin-top: 0;
  }
}
